---
pagination:
  data: venues
  size: 1
  alias: venue
  addAllPagesToCollections: true
permalink: "/journal/certified/{{ venue.slug }}/"
layout: venue.njk
title: "{{ venue.name }}"
description: "{{ venue.citation }}"
hreflang_ja: "/journal/certified/{{ venue.slug }}/"
hreflang_en: "{% if venue.has_en %}/en/journal/certified/{{ venue.slug }}/{% endif %}"
og_image: "{{ venue.image }}"
---
