---
layout: base.njk
---
{% if lang == "en" %}
{% include "nav-stories-en.njk" %}
{% else %}
{% include "nav-stories.njk" %}
{% endif %}
<main class="pt-16">
  {{ content | safe }}
</main>
{% if lang == "en" %}
{% include "footer-stories-en.njk" %}
{% else %}
{% include "footer-stories.njk" %}
{% endif %}
